@keyframes pulseDark {
   0% {
      /* color: darkorange; */
      transform: scale(1);
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
   }
   50% {
      /* color: orange; */
   }
   100% {
      /* color: darkorange; */
      transform: scale(1.25);
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
   }
}
@keyframes pulseLight {
   0% {
      /* color: darkorange; */
      transform: scale(1);
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
   }
   50% {
      /* color: orange; */
   }
   100% {
      /* color: darkorange; */
      transform: scale(1.25);
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
   }
}
.pulseDark {
   animation-name: pulseDark;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-play-state: running;
   color: orange !important;
}
.pulseLight {
   animation-name: pulseLight;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-play-state: running;
   color: orange !important;
}
.smalltext {
   font-size: small !important;
}
.ab-object-list-item .webix_sidebar_dir_icon {
   margin-right: 20px;
}
.ab-datacollection-list-item .webix_sidebar_dir_icon {
   margin-right: 20px;
}
.ab-interface-list-item .webix_sidebar_dir_icon {
   margin-right: 20px;
}
.darkorange .webix_button {
   background-color: darkorange !important;
}
.warningtext {
   color: orange;
}
.warningslist {
   list-style-type: none;
   margin: 0;
   padding: 0;
   line-height: 28px;
   background-color: transparent;
   color: white;
}
.warningslist li {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.webix_theme_dark {
   background-color: #4a4e58;
}
.lighten {
   opacity: 0.4;
}
