@keyframes pulseDark {
   0% {
      /* color: darkorange; */
      transform: scale(1);
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
   }
   50% {
      /* color: orange; */
   }
   100% {
      /* color: darkorange; */
      transform: scale(1.25);
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
   }
}
@keyframes pulseLight {
   0% {
      /* color: darkorange; */
      transform: scale(1);
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
   }
   50% {
      /* color: orange; */
   }
   100% {
      /* color: darkorange; */
      transform: scale(1.25);
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
   }
}
.pulseDark {
   animation-name: pulseDark;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-play-state: running;
   color: orange !important;
}
.pulseLight {
   animation-name: pulseLight;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-play-state: running;
   color: orange !important;
}
.smalltext {
   font-size: small !important;
}
.ab-object-list-item .webix_sidebar_dir_icon {
   margin-right: 20px;
}
.ab-datacollection-list-item .webix_sidebar_dir_icon {
   margin-right: 20px;
}
.ab-interface-list-item .webix_sidebar_dir_icon {
   margin-right: 20px;
}
.darkorange .webix_button {
   background-color: darkorange !important;
}
.warningtext {
   color: orange;
}
.warningslist {
   list-style-type: none;
   margin: 0;
   padding: 0;
   line-height: 28px;
   background-color: transparent;
   color: white;
}
.warningslist li {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.webix_theme_dark {
   background-color: #4a4e58;
}
.lighten {
   opacity: 0.4;
}
.app_form_window {
   border-radius: 8px;
}
.app_form_window .webix_win_head {
   background-color: #b8b8b8;
}
.app_form_window div.webix_view.webix_control.webix_el_icon.alert {
   padding: 0px;
}
/* main view background (transparent by default) */
.app_form_window .alert {
   background-color: transparent;
}
/* main font color */
.app_form_window .alert .webix_icon {
   color: #eed202;
}
/* circle background (hover) */
.app_form_window .alert .webix_icon_button:hover:before {
   opacity: 0.8;
}
/* hover: font color */
.app_form_window .alert .webix_icon_button:hover .webix_icon {
   color: #d6bd01;
}
.app_form_window .webix_template {
   font-size: 18px;
   background-color: #b8b8b8;
}
.app_form_window .webix_label_right {
   font-weight: 500;
   color: rgb(49, 49, 49);
   width: 340px;
   padding-left: 10px;
}
.app_form_window .webix_scroll_cont .npr_smallLabels .webix_el_box {
   font-size: 16px;
   font-weight: 500;
   color: #33b5e5;
   text-align: right;
}
.app_form_window .webix_multicombo {
   border: 2px solid #eee;
   border-radius: 6px;
}
.app_form_window .webix_view .webix_layout_form {
   border: 1px solid #eee;
   border-radius: 6px;
}
.app_form_window div.webix_view.webix_form.no-margin.webix_layout_form {
   background-color: #eee;
}
.app_form_window .webix_button {
   border-radius: 6px;
}
.app_form_window_2 {
   border-radius: 6px;
}
.app_form_window_2 .webix_win_head {
   background-color: #b8b8b8;
}
.app_form_window_2 .webix_template {
   font-size: 18px;
   background-color: #b8b8b8;
}
/* Tab editing */
.ab-tab-back:hover,
.ab-tab-next:hover,
.ab-tab-up:hover,
.ab-tab-down:hover {
   cursor: e-resize;
   opacity: 1;
}
.ab-tab-back:hover {
   cursor: w-resize;
}
.ab-tab-up:hover {
   cursor: n-resize;
   opacity: 1;
}
.ab-tab-down:hover {
   cursor: s-resize;
}
.ab-tab-back,
.ab-tab-next,
.ab-tab-up,
.ab-tab-down {
   float: left;
   margin-left: 10px;
   background: #1ca1c1;
   opacity: 0.8;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   line-height: 20px !important;
   padding-right: 2px;
   color: white;
}
.fa-pencil-square.ab-tab-edit {
   opacity: 0.4;
}
.fa-pencil.ab-tab-edit {
   opacity: 0;
   position: absolute;
   left: 12px;
   top: 12px;
   background: #1ca1c1;
   width: 20px;
   height: 20px;
   text-align: center;
   line-height: 20px !important;
   border-radius: 100%;
   font-size: 11px;
}
.ab-tab-edit:hover {
   opacity: 1;
   transform: scale(1.2);
}
.webix_tree_item:hover .fa-pencil.ab-tab-edit {
   opacity: 1;
}
.ab-tab-next {
   float: right;
   margin-right: 10px;
   padding-left: 6px;
}
.ab-tab-up,
.ab-tab-down {
   /*   float: right;*/
   /*   margin: 12px -2px 12px 15px;*/
   /*   padding-left: 6px;*/
   opacity: 0.2;
   border-radius: 0 !important;
   position: absolute;
   right: 1px;
   top: 0;
   line-height: 22px !important;
   width: 22px;
   height: 21px;
   text-align: center;
   margin: 0;
}
.ab-tab-down {
   top: 22px;
}
.webix_tree_item {
   position: relative;
   cursor: grab;
}
.webix_all_tabs div:nth-child(1) .ab-tab-back {
   display: none;
}
.webix_all_tabs div:nth-last-child(1) .ab-tab-next {
   display: none;
}


/* PWA Designer */

.dragme {
   display:inline-block;
   color: #CCC;
   padding: 5px 7px;
   float: right;
   cursor: grab;
}
.webix_drag_zone .fa {
   display: none;
}
.circleme {
   background: #AAA;
   color: #FFF;
   font-size:8px;
   width: 15px;
   height: 15px;
   text-align: center;
   line-height: 15px;
   border-radius: 15px;
   vertical-align: text-top;
}

.webix_tree_leaves {
   display: block !important;
}

.monospace > div > textarea,
.monospace > div > div > .webix_text_highlight_value {
   word-break: break-all;
   font-family: monospace;
}
